version: '3'
services:
  laravel:
    image: php-laravel:latest
    # we want to use the image which is build from our Dockerfile
    build: .
    # apache is running on port 80 but we want to expose this to port 1212 on our local machine
    container_name: photomem-app
    networks:
      - photomem
    ports:
      - "1212:80"
      - "1213:443"
    # the first is for code, the second is to set container time to server/machine time, third is source of images
    volumes:
      - ./:/var/www/html
      - "/etc/localtime:/etc/localtime:ro"
      # ADD picture source (:ro = readonly): /path/to/source:/var/www/html/storage/sync:ro

  # for running sync jobs
  # php-queue:
  #   restart: always
  #   image: php-laravel:latest
  #   command: php artisan queue:work
  #   volumes:
  #     - ./:/var/www/html/
  #     - "/etc/localtime:/etc/localtime:ro"
      # ADD picture source (:ro = readonly): /path/to/source:/var/www/html/storage/sync:ro


  supervisor:
    build:
      context: .
      dockerfile: ./supervisor.dockerfile
    container_name: photomem-supervisor
    restart: always
    networks:
      - photomem
    volumes:
      - ./:/var/www/html
      - "/etc/localtime:/etc/localtime:ro"
      # ADD picture source (:ro = readonly): /path/to/source:/var/www/html/storage/sync:ro

  # mariadb:
  #   image: mariadb
  #   container_name: photomem-db
  #   environment:
  #     MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
  #     MYSQL_DATABASE: "${DB_DATABASE}"
  #     MYSQL_USER: "${DB_USERNAME}"
  #     MYSQL_PASSWORD: "${DB_PASSWORD}"
  #   networks:
  #     - photomem
  #   ports:
  #     - "3306:3306"
  #   restart: on-failure

networks:
  photomem:
    driver: bridge
